@model IEnumerable<FiapWebAPI.Models.Idoso>

@{
    ViewData["Title"] = "Protegidos";
}

<h1>Protegidos</h1>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CPF
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dt_nasc)
            </th>
            <th>
                Endereço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_nasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Cpf }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Cpf })
            </td>
        </tr>
}
    </tbody>
</table>
